.album-card {
  background-color: rgb(59, 59, 59);
  border-radius: 12px;
  margin: 15px;
  text-align: center;
  width: 30%;
}

.album-card a {
  text-decoration: none;
}

.album-card img {
  margin-bottom: 2em;
}
