body {
  background-color: #1f2631;
  color: rgb(209, 210, 211);
  text-align: center;
}

.login-header {
  display: flex;
  justify-content: center;
  margin-top: 4em;
  padding: 2em;
}

.login-main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.login-image {
  width: 15%;
}

.tunes {
  color: rgb(243, 190, 15);
  font-size: 2em;
}
